* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

.form-group {
  width: 61.2%;
}

.form-control:focus {
  border: 1px solid #1bb94b;
  box-shadow: 0 0 0 0.2rem #1bb94a50 !important;
}

.input {
  font-family: 'Poppins', sans-serif;
}

.btnn {
  width: 3.5rem;
}

.btn-secondary {
  background-color: #dfe1e5;
  border: 1px solid #dfe1e5;
  color: #000;

}

.btn-secondary:hover {
  background-color: #c2c4c7;
  border: 1px solid #c2c4c7;
  color: #000;
}

.btn-secondary:focus {
  background-color: #c2c4c7 !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 0 0.2rem #dfe1e5 !important;
  color: #000 !important;
}

.btn-secondary:active {
  background-color: #c2c4c7 !important;
  border: 1px solid transparent !important;
  color: #000 !important;
}

.btn-primary {
  background-color: #0055b1;
  border: 1px solid #0055b1;
  color: #fff;
  box-shadow: 0 3px 10px #0056b167 !important;
}

.btn-primary:hover {
  background-color: #03468f;
  border: 1px solid #03468f;
  color: #fff;
}

.btn-primary:focus {
  background-color: #03468f !important;
  border: 1px solid transparent !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 73, 150, 0.5) !important;
  color: #fff !important;
}

.btn-primary:active {
  background-color: #03468f !important;
  border: 1px solid transparent !important;
  color: #fff !important;
}